# -*- mode: sh -*-
# shellcheck shell=bash
DIRENV_WARN_TIMEOUT=20s
GIT_ROOT=$(git rev-parse --show-toplevel || $PWD)
NIX_DIRENV_URL="https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc"
NIX_DIRENV_SHA="sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
# A flag to control whether to use devenv from latest github repo or from nixpkgs
DEVENV_FROM_NIXPKGS="${DEVENV_FROM_NIXPKGS:-true}"
NIX_DIRENV_FALLBACK_NIX=/nix/var/nix/profiles/default/bin/nix
DEVENV_BIN_NIXPKGS="nix run github:nixos/nixpkgs/02a4b5cf47762b50687dd52eeb25f218cd000a8c#devenv --"
# devenv binary cache from Github. Hence `-j0`, and `--option builders ''`.
DEVENV_BIN_GITHUB="nix --accept-flake-config --option builders '' -j0 run github:cachix/devenv/d0f2c8545f09e5aba9d321079a284b550371879d --"

# Hack to be able to read the absolute path of the project root
# without having to use --impure
echo "$GIT_ROOT" > "$GIT_ROOT/.stackpanel-root"

# nix-direnv: provides better caching
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "$NIX_DIRENV_URL" "$NIX_DIRENV_SHA"
fi

# Define DEVENV_BIN based on the flag
if [[ "${DEVENV_FROM_NIXPKGS}" == "true" ]]; then
  DEVENV_BIN="${DEVENV_BIN:-$DEVENV_BIN_NIXPKGS}"
else
  DEVENV_BIN="${DEVENV_BIN:-$DEVENV_BIN_GITHUB}"
fi

# use flake "$ROOT" --accept-flake-config --impure

eval "$($DEVENV_BIN direnvrc)"

use devenv
