# -*- mode: sh -*-
# shellcheck shell=bash
GIT_ROOT=$(git rev-parse --show-toplevel || $PWD)
NIX_DIRENV_URL="https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc"
NIX_DIRENV_SHA="sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="

echo "$GIT_ROOT" > "$GIT_ROOT/.stackpanel-root"

if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "$NIX_DIRENV_URL" "$NIX_DIRENV_SHA"
fi

export STACKPANEL_ROOT="$GIT_ROOT"
use flake "$GIT_ROOT" --impure
