# -*- mode: sh -*-
# shellcheck shell=bash
GIT_ROOT=$(git rev-parse --show-toplevel || $PWD)
NIX_DIRENV_URL="https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc"
NIX_DIRENV_SHA="sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
NIX_DIRENV_FALLBACK_NIX=/nix/var/nix/profiles/default/bin/nix

if [[ -n "${__STACKPANEL_CLEAN_ENV+x}" ]]; then
  exit 0
fi

# ----------------------------------------------------------------------------
# nix-direnv: direnv with better caching for nix
# ----------------------------------------------------------------------------
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "$NIX_DIRENV_URL" "$NIX_DIRENV_SHA"
fi

# ----------------------------------------------------------------------------
# Export STACKPANEL_ROOT so _internal.nix can find config.local.nix
# ----------------------------------------------------------------------------
export STACKPANEL_ROOT="$GIT_ROOT"

# ----------------------------------------------------------------------------
# The devshell entrypoint is generated on shell entry, so we need to check for
# it and have a backup plan.
# ----------------------------------------------------------------------------
if [[ -x "$GIT_ROOT/devshell" ]]; then
  echo "Using stackpanel devshell" >&2
  eval "$("$GIT_ROOT/devshell" --direnv)"
else
  echo "Using flake devshell" >&2
  use flake "$GIT_ROOT" --impure
fi
